.container {
  width: 65%;
  margin: 30px auto;

  &.full-width {
    width: 100%;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  .vertical-align {
    align-items: center;
  }
}

.col {
  box-sizing: border-box;
  margin-bottom: 20px;

  &.half {
    flex: 1 1 50%;
    max-width: 50%;

    &:nth-child(odd) {
      padding-right: 10px;
    }

    &:nth-child(even) {
      padding-left: 10px;
    }
  }

  &.fourth {
    flex: 1 1 25%;
    max-width: 25%;
    padding: 0 10px;
  }
}