@import '../assets/mobile';

.container {
  width: 65%;
  margin: 30px auto;

  &.full-width {
    width: 100%;
  }

  @include responsive(desktop-medium) { width: 75%; }
  @include responsive(desktop-small) { width: 75%; }
  @include responsive(mobile) { width: 100%; box-sizing: border-box; padding: 10px; }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  .vertical-align {
    align-items: center;
  }

  .no-wrap {
    flex-wrap: nowrap;
  }
}

.col {
  box-sizing: border-box;
  margin-bottom: 20px;

  &.half {
    flex: 1 1 50%;
    max-width: 50%;

    &:nth-child(odd) {
      padding-right: 10px;
    }

    &:nth-child(even) {
      padding-left: 10px;
    }

    @include responsive(mobile) {
      flex: 1 1 100%;
      max-width: 100%;

      &:nth-child(odd) { padding: 0; }
      &:nth-child(even) { padding: 0; }
    }
  }

  &.fourth {
    flex: 1 1 25%;
    max-width: 25%;
    padding: 0 10px;

    @include responsive(mobile) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &.fifth {
    flex: 1 1 20%;
    max-width: 20%;
    padding: 0 10px;
  }
}