.navigation {
  width: 65%;
  margin: 30px auto;

  h1 {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding: 2px 6px;
    font-size: 2.4em;
    margin-right: 50px;
    background-color: #212121;
    color: $white;
  }

  .links {
    overflow: hidden;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;

    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      padding: 10px 15px;
      color: #999;
      overflow: hidden;
      transition: color .5s;
      margin-right: 10px;
      vertical-align: bottom;

      &:hover {
        color: $white;
      }

      &.active {
        color: $white;
      }
      
      &::before, &::after {
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
      }
  
      &::before {
        height: 180%;
        width: 140%;
        left: -20%;
        top: 150%;
        transform: rotate(15deg);
        background-color: #5f27cd;
        z-index: -1;
        transition: top .6s;
      }

      &::after {
        z-index: -2;
        background-color: #212121;
      }
  
      &.active {
        &::before {
          top: -40%;
        }
      }
    }
  }
}
