@import '../../assets/mobile';

.navigation {
  width: 65%;
  margin: 30px auto;
  transition: opacity .4s;

  @include responsive(desktop-medium) { width: 75%; }
  @include responsive(desktop-small) { width: 75%; }
  @include responsive(mobile) { width: 100%; text-align:center; margin-top: 15px;}

  &.hide {
    opacity: 0;
  }

  h1 {
    &.label {
      font-size: 2.4em;
      margin-right: 50px;

      @include responsive(mobile) {
        margin: 0 0 15px 0;
      }
    }
  }

  .links {
    overflow: hidden;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;

    @include responsive(mobile) {
      display: flex;
      flex-wrap: wrap;
    }

    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      padding: 10px 15px;
      color: #999;
      overflow: hidden;
      transition: color .5s;
      margin-right: 10px;
      vertical-align: bottom;

      @include responsive(mobile) {
        flex: 1 1 33.3%;
        max-width: 33.3%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
      }

      &:hover {
        color: $white;
      }

      &.active {
        color: $white;
      }
      
      &::before, &::after {
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
      }
  
      &::before {
        height: 180%;
        width: 140%;
        left: -20%;
        top: 150%;
        transform: rotate(15deg);
        background-color: #5f27cd;
        z-index: -1;
        transition: top .6s;
      }

      &::after {
        z-index: -2;
        background-color: $gray;
      }
  
      &.active {
        &::before {
          top: -40%;
        }
      }
    }
  }
}
