.about {
  height: 0;
  width: 100%;
  background-color: #212121;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  animation: pop-in .6s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;

  &.hide {
    height: 100%;
    top: 0;
    animation: pop-out .6s forwards;
  }

  svg {
    width: 50%;
    height: 50%;

    polygon {
      text-align: left;
    }
  }
}

@keyframes pop-in {
  100% {
    height: 100%;
  }
}

@keyframes pop-out {
  100% {
    height: 0;
  }
}