.project-detail {
  position: relative;
  background-color: $dark-gray;
  color: $white;
  opacity: 0;
  margin-left: 19%;
  animation: show-detail .4s forwards;
  height: 60vh;
  border-radius: 6px;
  @include card-shadow;

  &.leave {
    animation: hide-detail .4s forwards;
    margin-left: 17.5%;
    opacity: 1;
  }

  h1 {
    font-size: 1.8em;
    background-color: $detail-blue-5;
    color: $white;
    display: inline-block;
    padding: 0 4px;
    margin: 0 0 0 auto;
  }

  .image {
    flex: 1 0 55%;
    background-size: cover;
    background-position-x: 50%;
    transition: filter .4s;
    filter: grayscale(40%);

    &:hover {
      filter: grayscale(0);
    }
  }

  .content {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex: 1 0 45%;

    .inner-content {
      height: 85%;
    }
  }

  .code-links {
    align-self: flex-end;
    width: 100%;
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: rgba(255,255,255,.2);

    .button {
      font-size: 17px;
      border: 3px solid #fff;
      border-top-width: 1px;
      border-left-width: 1px;
      border-radius: 6px;
      transition: background-color .4s;
      @include card-shadow-2;

      &.github {
        background-color: #6e5494;
        border-color: scale-color(#6e5494, $lightness: -20%);

        &::before {
          content: '\f09b';
        }

        &:hover {
          background-color: scale-color(#6e5494, $lightness: -15%);
        }
      }

      &.visit-project {
        background-color: $blue;
        border-color: scale-color($blue, $lightness: -20%);
        color: $white;

        &::before {
          content: '\f0b1';
        }

        &:hover {
          background-color: scale-color($blue, $lightness: -15%);
        }
      }
    }
  }

  .technology-container {
    .technology {
      display: inline-block;
      padding: 6px 8px 6px 6px;
      border-radius: 6px;
      margin-right: 5px;
      font-weight: bold;
      font-size: 17px;
      border-left-width: 3px;
      border-left-style: solid;
  
      &.react {
        background-color: $gray;
        color: $white;
        border-color: #00d8ff;
  
        &::before {
          content: '\f41b';
          color: #00d8ff;
        }
      }
  
      &.html {
        background-color: #F16529;
        color: $white;
        border-color: #E44D26;
  
        &::before {
          content: '\f13b';
          color: $white;
        }
      }
  
      &.css {
        color: $white;
        background-color: #1C88C7;
        border-color: #1B73BA;
  
        &::before {
          content: '\f38b';
          color: $white;
        }
      }
  
      &.docker {
        color: $white;
        background-color: #384d54;
        border-color: #0db7ed;
  
        &::before {
          content: '\f395';
          color: #0db7ed;
        }
      }
  
      &.node {
        color: $white;
        background-color: #68A063;
        border-color: #3C873A;
  
        &::before {
          content: '\f419';
          color: #303030;
        }
      }

      @include icon;
    }
  }
 }

 @keyframes show-detail {
   100% {
     margin-left: 17.5%;
     opacity: 1;
   }
 }

 @keyframes hide-detail {
   100% {
     margin-left: 19%;
     opacity: 0;
   }
 }