@import '../../assets/mobile';

@mixin full-size-block {
  display: block;
  width: 100%;
  height: 100%;
}

@mixin absolute-center {
  position: absolute;
  top: 0; left: 0;
}

.project {
  height: 35vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0;
  @include card-shadow;
  animation: show-project .4s forwards;

  @include responsive(mobile) { height: 30vh; }

  &.leave {
    animation: hide-project .4s forwards;
    opacity: 1;
  }

  &:hover {
    .background-color {
      opacity: 1;
    }
    .background-image {
      opacity: .7;
    }
    .content {
      .text {
        flex-basis: calc(100% - 210px);
      }

      h2, p {
        margin-left: 10px;
      }
    }
  }

  .background-color {
    @include full-size-block;

    background-color: $gray;
    opacity: .95;
    transition: opacity .4s;
  }

  .background-image {
    @include full-size-block;
    @include absolute-center;

    opacity: .2;
    filter: grayscale(80%);
    background-size: cover;
    transition: opacity .6s;
    box-shadow: 0 0 30px 20px rgba(0,0,0, .5) inset;
  }

  .content {
    @include absolute-center;
    @include full-size-block;
    display: flex;
    width: calc(100% + 95px);

    .text {
      flex-basis: calc(100% - 95px);
      display: inline-block;
      margin-bottom: 6vh;
      transition: flex-basis .4s, margin-left .4s;

      @include responsive(mobile) { flex-basis: calc(100% - 210px); }
    }

    h2 {
      color: $white;
      padding: 2px 4px;
      display: inline-block;
      margin-left: 80px;
      transition: margin-left .4s;
      white-space: nowrap;

      @include responsive(mobile) { margin-left: 10px; }

      &::before {
        content: '';
        border-left: 5px solid $dark-purple;
        margin-right: 8px;
        border-radius: 4px;
      }
    }

    p {
      padding: 10px;
      margin-left: 80px;
      color: $white;
      display: inline-block;
      background-color: $gray;
      transition: margin-left .4s;
      transition-delay: .15s;
      max-width: 380px;

      @include responsive(desktop-medium) { max-width: 250px; }
      @include responsive(desktop-small) { max-width: 200px; }
      @include responsive(mobile) { max-width: 200px; margin-left: 10px; }
    }

    .btn-container {
      transition: all .4s;

      .fa {
        color: $white;
        font-size: 3.2em;
        padding: 20px 27px;
        cursor: pointer;
      }
    }
  }
}

@keyframes show-project {
  100% {
    opacity: 1;
  }
}

@keyframes hide-project {
  100% {
    opacity: 0;
  }
}